/* 
Color Pallette
Silver
#BFBFBF
Taupe Gray
#96939B
English Violet
#564256
Coral
#FC814A 
*/

body {
    background: #564256 !important;
}

.navBGC {
    background: #564256;
}

.brandImg {
    max-height: 3em;
    max-width: 3em;
}

.bgC {
    background: #96939B;
}

.platText {
    color: #BFBFBF;
}

.coralText {
    color: #FC814A;
}

.coralText .dropdown-toggle {
    color: #FC814A;
}