/* 
Color Pallette
Pink
#EF476F
BLUE
#058ED9
YELLOW
#FFD166
GREEN
#06D6A0
WHITE
#FCFCFC
*/

body {
    background: #4B4B4B !important;
}

.navBGC {
    background: #4B4B4B;
}

.brandImg {
    max-height: 3em;
    max-width: 3em;
}

/* .navDrop {

} */

.navButton {
    background-color: #058ed9;
    color: #FCFCFC;
    border: none;
}

.navButton:hover {
    background-color: #026da7;
}

.navButton:active, .navButton:focus {
    background-color: #026da7;
}

.navMenu {
    background-color: #058ed9;
}

.navMenu .dropdown-item {
    color: #FCFCFC;
}

.navMenu .dropdown-item:hover {
    background-color: #026da7;
}

.blueText {
    color: #058ed9;
}

.pinkText {
    color: #EF476F;
}

.wikiText {
    color: #EF476F;
    background-color: #0b0b0b;
}

.emeraldText {
    color: #06D6A0;
}

.yellowText {
    color: #FFD166;
}

.basicBGC .accordion-header {
    color:#FCFCFC;
}

.basicBGC .accordion-button,
.basicBGC .accordion-body {
    background-color: #605f5f;
}

.basicBGC .accordion-button:focus {
    box-shadow: 0 0 0 0.2rem #06D6A0;
}

.basicBGC .accordion-button:not(.collapsed) {
    color: #06D6A0;

}

.basicBGC .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2306d6a0'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.basicBGC .accordion-button:not(.collapsed)::after {
    color: #06D6A0; 
}

.techBGC .accordion-header {
    color: white;
}

.techBGC .accordion-button,
.techBGC .accordion-body {
    background-color: #605f5f;
}

.techBGC .accordion-button:focus {
    box-shadow: 0 0 0 0.2rem #FFD166;
}

.techBGC .accordion-button.accordion-button:not(.collapsed) {
    color: #FFD166;
}

.techBGC .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffd166'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.techBGC .accordion-button:not(.collapsed)::after {
    color: #FFD166;
}